/*  your css code here. If applicable */
body {
	background-color: #cccccc;
	justify-content: center;
	text-align: center;
}

.player_one {
	background-color: white;
	padding: 10px;
	border: 1px solid black;
	border-radius: 6px;
	text-align: left;
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	text-decoration: none;
}

.player_two {
	background-color: white;
	width: 20rem;
	padding: 10px;
	border: 1px solid black;
	border-radius: 6px;
	margin: auto;
}
